---
---

@import "{{ site.theme }}";

a { text-decoration: none; border-bottom: dotted 1px; }
a:hover { border-bottom-style: solid; }
header h1 { margin: 0; }
header h1:before { content: ""; }
.container { max-width: 800px; }
code { white-space: nowrap; color: #b5e853; font-weight: bold; font-family: 'Oxygen Mono', 'Nimbus Mono L', 'Courier New', 'Courier',  serif; }
