---
---

@import "{{ site.theme }}";

a { text-decoration: none; border-bottom: dotted 1px; }
a:hover { border-bottom-style: solid; }
header h1 { margin: 0; }
header h1:before { content: ""; }
.container { max-width: 800px; }
code { white-space: nowrap; color: #b5e853; font-weight: bold; font-family: 'Oxygen Mono', 'Nimbus Mono L', 'Courier New', 'Courier',  monospace; }

section#main_content { clear: both; }
section#attributes { padding-bottom: 1em; }
section#attributes dt { color: #b5e853; font-weight: bold; }
section#descendants { padding-bottom: 1em; float: right; }
section#descendants h4 { font-weight: bold; margin: 0; }
section#descendants ul { padding: 0; margin: 0; margin-top: 0.25em; margin-left: 2.25em;}
section#descendants li { margin-bottom: 0.5em; padding-left: 1.25em; text-indent: -1.25em; }
section#descendants li:before { content: ''; content: none; }
