<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ page.title | default : 'Untitled' }} &ndash; {{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ page.title | default: 'Untitled' }}</h1>
        <h2>{{ page.description | default: '' }}</h2>

        {% if page.author %}
          <p>developed by {{ page.author }}</p>
        {% endif %}

        <section id="downloads">
          {% if page.github_url %}
            <a href="{{ page.github_url }}/archive/master.zip" class="btn">Download as .zip</a>
            <a href="{{ page.github_url }}/archive/master.tar.gz" class="btn">Download as .tar.gz</a>
            <a href="{{ page.github_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          {% endif %}
        </section>

        <section id="attributes">
          <dl>
          <dt>family</dt><dd>{{ page.family }}</dd>
          {% if page.parent %}
            <dt>derived from</dt>
            {% capture my_parent_id %}/codebases/{{ page.parent }}{% endcapture %}
            {% for other in site.codebases %}
              {% if other.id == my_parent_id %}
                <dd><a href="{{ other.url }}">{{ other.title }}</a> {% if page.parent_version %}(version {{ page.parent_version }}){% endif %}</dd>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if page.website %}
            <dt>website</dt><dd><a href="{{ page.website }}">{{ page.website }}</a></dd>
          {% endif %}
          </dl>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>

      {% for other in site.codebases %}
        {% if other.parent %}
          {% capture other_parent_id %}/codebases/{{other.parent}}{% endcapture %}
          {% if other_parent_id == page.id %}
            <!-- {% increment descendant_count %} -->
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if descendant_count >= 0 %}
      <section id="descendants">
        <h4>Direct descendants</h4>
        {% for other in site.codebases %}
          {% if other.parent %}
            {% capture other_parent_id %}/codebases/{{other.parent}}{% endcapture %}
            {% if other_parent_id == page.id %}
              <a href="{{ other.url }}">{{ other.title }}</a><br/>
            {% endif %}
          {% endif %}
        {% endfor %}
      </section>
      {% endif %}

    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>

