<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ page.title | default : 'Untitled' }} &ndash; {{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body itemscope itemtype="http://schema.org/SoftwareApplication">

    <header>
      <div class="container">
        <section class="sitenav">
          <a href="{{ site.url }}">&laquo; Archive home</a>
          <ol style="display: none;" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" itemscope itemtype="http://schema.org/Thing" href="{{ site.url }}"><span itemprop="name">Source Code</span></a>
              <meta itemprop="position" content="1"/>
            </li>
            {% if page.family %}
              {% assign family = site.family | where: "family", page.family | first %}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" itemscope itemtype="http://schema.org/Thing" href="{{ family.url }}"><span itemprop="name">{{ family.title }}</span></a>
              <meta itemprop="position" content="2"/>
            </li>
            {% endif %}
          </ol>
        </section>
        <h1 itemprop="name">{{ page.title | default: 'Untitled' }}</h1>
        <span style="display:none" itemprop="applicationCategory">Telnet chat server (Talker)</span>
        {% if page.description %}<h2>{{ page.description }}</h2>{% endif %}
        {% if page.author %}<p itemprop="author" itemscope itemtype="http://schema.org/Person">developed by <span itemprop="name">{{ page.author }}</span></p>{% endif %}
        {% if page.github_url %}
        <section id="downloads">
            <!--a href="{{ page.github_url }}/archive/master.zip" class="btn">Download as .zip</a>
            <a href="{{ page.github_url }}/archive/master.tar.gz" class="btn">Download as .tar.gz</a-->
            <a href="{{ page.github_url }}/releases" class="btn" itemprop="downloadUrl">Download archived releases</a>
            <a href="{{ page.github_url }}" class="btn btn-github"><span class="icon"></span>View project on GitHub</a>
        </section>
        <span style="display:none" itemprop="operatingSystem">{{ page.os | default: 'Linux' }}</span>
        {% endif %}
      </div>
    </header>

    <div class="container">
      {% unless page.github_url %}
      <section>
        <h3>:-(</h3>
        <small>This source code is not in the archive, and a part of Internet history may already be lost forever.
        If <strong>you</strong> have a copy, please <a href="https://github.com/talkersource/talkersource.github.io/issues">contact us</a>.</small>
      </section>
      {% endunless %}

      {% assign descendants = site.codebases | where: "parent", page.key %}
      {% assign descendant_count = descendants | size %}
      {% if descendant_count > 0 %}
      <section id="descendants">
        <h4>direct descendants</h4>
        <ul>
        {% for other in descendants %}<li><a href="{{ other.url }}">{{ other.title }}</a></li>{% endfor %}
        </ul>
      </section>
      {% endif %}

      <section id="attributes">
        <dl>
        {% if page.family %}
          <dt>family</dt><dd><span itemprop="applicationSubCategory"><a href="{{ family.url }}">{{ family.title }}</a></span></dd>
        {% endif %}
        {% if page.parent %}
          {% assign parentcode = site.codebases | where: "key", page.parent | first %}
          <dt>derived from</dt>
          <dd><a href="{{ parentcode.url }}" itemprop="isBasedOn">{{ parentcode.title }}</a> {% if page.parent_version %}(version {{ page.parent_version }}){% endif %}</dd>
        {% endif %}
        {% if page.license %}
          <dt>license</dt><dd>{{ page.license }} {% if page.license_note %}{{ page.license_note }}{% endif %}</dd>
        {% endif %}
        {% if page.website %}
          <dt>website</dt><dd><a href="{{ page.website }}" itemprop="url">{{ page.website }}</a></dd>
        {% endif %}
        </dl>
      </section>

      <section id="main_content" style="clear: both;" itemprop="about">
        {{ content }}
      </section>

      {% if page.upstream_url %}
      <section>
        <h4>Upstream source</h4>
        The author publishes an <a href="{{ page.upstream_url }}">independent repository</a>, which may contain
        newer or different changes when compared to the contents of the TalkerSource.com archive.
      </section>
      {% endif %}
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
