<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ page.title | default : 'Untitled' }} Family &ndash; {{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ page.title | default: 'Untitled' }} Family</h1>
        <h2>{{ page.description | default: '' }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content" style="float: left; clear: none; width: 72%;">
        {{ content }}
      </section>

      <section id="descendants" style="max-width: 25%;">
        <h4>family members</h4>
        <ul>
        {% assign nocode = 0 %}
        {% assign family_codes = site.codebases | where: "family", page.family %}
        {% for code in family_codes %}
          <li><a href="{{ code.url }}">{{ code.title }}</a>{% unless code.github_url %}&nbsp;*{% assign nocode = nocode | plus: 1 %}{% endunless %}</li>
        {% endfor %}
        </ul>
        {% if nocode > 0 %}<sup>*</sup> <small>missing source code</small>{% endif %} 
      </section>

    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
